certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
idna==3.3
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
mysql-connector-python==8.0.28
pip==21.2.4
protobuf==3.19.4
requests==2.27.1
setuptools==58.0.4
SQLAlchemy==1.4.31
urllib3==1.26.8
Werkzeug==2.0.3
wheel==0.37.1
wincertstore==0.2
