/* ?????? Add a style foor markerStationName */



/* || General Styles */

body {
    position: relative;
    background-color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #403c3c;
}

footer,
header {
    background-color: lightgreen;
    color: black;
}

header {
	height: 100px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

footer {
    margin-top: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}

p {
    line-height: 1.6;
    margin-top: 40px;
    margin-bottom: 40px;
}

h1,
h2,
h3 {
    font-weight: bold;
    color: black;
}

h1 {
    text-transform: uppercase;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 68px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 22px;
    font-weight: normal;
}

.text-center {
    text-align: center;
}

#headline {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}


/* horizontal line to seperate sections */

hr {
    border: 2px solid darkgrey;
    margin-top: 100px;
}


/* || Content Styling */

/* Navigation Bar Styling */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    min-width: 500px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .navActive {
    background-color: #04AA6D;
  }


/*
CITATION - start: .wrapper class
Source: https://hookagency.com/blog/html-wrapper-tutorial/
*/

.wrapper {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
}


/* CITATION - end: .contentwrapper class */

.fixed {
    position: sticky;
    /* keep this element in position when scrolling */
    top: 0;
    width: 100%;
    z-index: 999;
    /* stack order: keep this element always in front */
}

.flexbox-container {
    display: flex;     
/*
    justify-content: space-around;
    align-items: flex-start;
*/
}

.flexbox-item {
    flex-basis: 100%;
    flex: 1;
}

.flexbox-container-column {
    display: flex;     
    justify-content: center;
    flex-direction: column;
    align-items: left;

}

.flexbox-item-nested {
    flex: 1;
    display: flex;
}

#flexbox-item-map {
    min-width: 950px;
    min-height: 450px;
}

.selection {
    float: left;
}

#item-dropdown {
    width: 100px;
}


/* CITATION: CSS-properties for styling the table had been copied from the following source and were then customized.
Source: https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy
*/

.figures-table {
    float: left;
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
}

.figures-table td,
.figures-table th {
    text-align: left;
    border: 1px solid #bababa;
    padding: 9px;
}

.figures-table tr:nth-child(even) {
    background-color: #c9c9c954;
}


/* CITATION - last-child pseudo-element
copied from Practical2 -files "e4.css"
*/

.figures-table td:last-child,
.figures-table th:last-child {
    text-align: right;
}

.figures-table tr:hover {
    background-color: #c9c9c9;
}

.figures-table th {
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: darkgreen;
    color: whitesmoke;
}


/* CITATION start - Rounded button
Source: https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_round
*/

.button {
    background-color: lightgreen;
    border: none;
    padding: 20px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}


/* CITATION end - Rounded button */


/* CITATION start - Dropdown Menu
Styling of the dropdown menu is aligned to the example represented on w3schools
Source: https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_button
*/

.dropdwon-button {
    background-color: lightgreen;
    color: black;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

.dropdown {
    margin: 4px 2px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    font-size: 16px;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #a3a3a3
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/* CITATION end - Dropdown Menu */


  /* Styling for embedded Google maps */ 
  #map {
      height: 100%;
      margin: 0;
      padding: 0;
  }

  #img-logo {
      width: 20%;
      height: auto;
  }

  #img-weather {
    width: 50%;
    height: auto;
    padding: 10px;
}

#img-histogram {
    width: 100%;
    height: auto;
    padding: 10px;
}

/* CITATION start - slider
Styling from the example represented on w3schools
Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_rangeslider
*/

.slidecontainer {
    width: 100%;
  }
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}
    
/* CITATION end - Slider */

