<!DOCTYPE html>
<!-- This base.html serves as base and it includes:
    - Header
    - Style sheets
    - Navigation bar
    - Wrapper class for body
    - Footer

    Specific context is implemented in templates that are inherited from this template. 
-->

<html lang="en">
<!-- set language of this website -->

<head>
    <meta charset="UTF-8">
    <!-- define character encoding -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Setting the viewpoint, e.g. useful for smaller devices such as mobiles, etc. -->
    <meta name="DESCRIPTION" content="Dublin Bikes Trip Planning Application, COMP30830 Group Project">
    <meta name="KEYWORDS" content="Tomas, Kelly, Jörg, Striebel, Will, O'Donohoe, COMP30830, UCD, HDip">

    <title>Dude, Where's My Bike?</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Internal JS Resources -->
    <script src="{{ url_for('static', filename='js/dudeWMB.js') }}"></script>

    <!-- External CSS files -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"></link> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/dudeWMB_layout.css') }}" type="text/css"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/dudeWMB_format.css') }}" type="text/css"> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dudewmb.css') }}" type="text/css">

</head>

<body onload="onLoad();">

    <header class="fixed">
        <!-- Navigation bar will be the same for all pages so that's why it's implemented in base.html -->
        <div class="wrapper">     
            <div class="flexbox-container">
                <div class="flexbox-item">
                    <ul>
                        <!--TODO: add more links here to the nav bar if needed -->
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
                <div class="flexbox-item">
                    <div class="flexbox-item">
                        <img id="img-logo" src="{{ url_for('static', filename='img/dudeWMB_Logo.png') }}"
                        alt="Banner image, picture of a speech bubble which contains &quot;Dude, Where's My Bike?&quot;" class="header">    
                    </div>
                </div>
            </div>
            <div><strong>This website is just for fun - it's a college project - and it will be taken down shortly.</strong></div>
        </div>
    </header>


    <main>
        <div class="wrapper">
            <!--Content of child templates will be diplayed here...-->
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <!-- Any footer context goes in here... -->
        <div class="wrapper">
            <p>&copy; Copyright 2022, DudeWMB Ltd., All Rights Reserved</p>
        </div>
    </footer>

</body>

</html>