<!-- { % include 'dudeWMB_header.html' % } -->

{% extends "base.html" %}
{% block content %}

    <!-- Section: Displaying Google maps on the left and search options as dropdown (available bikes, available e-bikes, available spaces) on the right hand side -->
        <section>
            <div class="wrapper">

                <!-- Content: Google maps and occupancy display options in the form of buttons  -->
                <div class="flexbox-container">
                    <!-- Embedded Google maps is embedded in the flexbox container on the left -->
                    <div id="flexbox-item-map" class="flexbox-item">
                        <!-- Display Google maps -->
                        <div id="map"></div>
                        <!-- <script src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_API_KEY }}&callback=initMap" async defer></script> -->
                        <script src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_API_KEY }}" async defer></script>
                        <div id="mapContentDescription">asdfasdfsadf</div>
                    </div>
                   
                    <!-- Dropdown list for search options is contained in the flex-box container on the right -->
                    <div class="flexbox-item">
                        <div class="flexbox-container-column">
                            <div class="flexbox-item"><button id="button_available_bikes" class="button">Available Bikes</button></div>
                            <div class="flexbox-item"><button id="button_available_spaces" class="button">Available Spaces</button></div>   
                        </div>
                    </div>
                </div>
                <h3>Station Details: <span id="selectedStation"></span></h3>
                <!-- Content: Dropdown menu to select station, weather forecast, occupancy trend histogram -->
                <div class="flexbox-container">
                    <!-- On the left: Dropdown menu to select station and station info table -->
                    <div class="flexbox-item">
                        <div class="flexbox-container-column">
                            <div class="flexbox-item">
                                <!-- Dynamically created dropdown menu to select station -->
                                <div class="dropdown">
                                    <!--
                                    <button id="dropdownButtonStation" class="dropdwon-button" onclick="createStationDropdownContent()">Select Station</button>
                                    <div id="dropdownContentStation" class="dropdown-content"></div>
                                    -->
                                    <select id="stationSelect" onfocus='this.size=6;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                                        <!-- This select is populated on page load -->
                                    </select>
                                </div> 
                            </div>
                            <!-- <div class="flexbox-item">
                                <div id="StationInfo" class="figures-table"></div>
                            </div>      
                            -->
                        </div>
                    </div>
                    <!-- On the middle: Weather forecast and slider to see trend -->
                    <div class="flexbox-item">
                        <div class="flexbox-container-column">
                            <div class="flexbox-item">
                                <!-- Slider to see the trend -->
                                <div class="slidecontainer">
                                    <p>Date: <span id="futureTime"></span></p>
                                    <input type="range" min="0" max="48" value="1" class="slider" id="sliderTimePrediction">
                                </div>
                            </div>     
                            <div class="flexbox-item">
                                <!-- TODO: here goes the weather forecast thing, for now it's just a image -->
                                <!--<img id="img-weather" src="/img/weather_forecast_icon.png" alt="weather_icon"> -->
                                <p>Temperature: <span id="sliderTemp"></span></p>
                                <img id="img-weather" src="{{ url_for('static', filename='img/broken_clouds.svg') }}" alt="weather_icon">
                            </div>
                        </div>
                    </div>
                    <!-- On the right: Occupancy trend as a histogram and day selection, e.g. today, tomorrow, etc. -->
                    <div class="flexbox-item">
                        <div class="flexbox-container-column">
                            <div id="occupancy_histogram" class="flexbox-item">
                                <!-- TODO: here goes the weather forecast thing, for now it's just a image
                                <img id="img-histogram" src="{{ url_for('static', filename='img/occupancy_histogram.png') }}" alt="histogram_image">
                                 -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>            
        </section>


{% endblock %}

<!-- { % include 'dudeWMB_footer.html' % } -->
